/* This media query for the mobile */
@media only screen and (max-width:600px){
    .nav-list ul{
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        background-color: #21243d;
        position: relative;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    a{
        font-size: 16px;
    }
    .navbar .logo{
        height: 25px;
        width: 100px;
    }
    .sec-1-para{
        font-size: 15px;
        color: #ffffff;
        font-weight: 400;
        width: auto;
        text-align: center;
    }
    .sec-1-head{
        font-size: 50px;
        text-align: center;
    }
    .section-1-content{
        padding: 50px;
        align-items: center;
        gap: 20px;
    }
    .sec-1-btn{
        width: 150px;
        height: 25px;
        font-size: 10px;
    }
    .section-1-img{
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        background-size: auto;
        background-position:center;
    }
    .section-1-op-div{
        width: auto;
        height: auto;
        background-color: rgb(255, 68, 0,0.1); 
    }
    /* ------------------popular menu section---------- */
    .sec-2-head-para{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: #21243d;
        gap: 50px;
    }
    .sec-2-menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .sec-2-head{
        font-size: 50px;
    }
    .sec-2-para{
        font-size: 16px;
        width: auto;
    }
    .sec-2-menu-img{
        height: 200px;
        width: 200px;
    }
    /* -----------section-3 image and title here content------- */
    .section-3{
        height: auto;
        width: auto;
        padding: 50px 0;
        flex-direction: column;
        gap: 50px;
    }
    .sec-3-img{
        width: 250px;
        height: 250px;
    }
    .sec-3-title{
        font-size: 50px;
        text-align: center;
    }
    .sec-3-para{
        font-size: 16px;
        text-align: center;
        width: auto;
    }
    .sec-3-content{
        align-items: center;
        gap: 25px;
    }
    /* ------secction-4 statistics and three image section------ */
    .section-4-circle{
        width: 200px;
        height: 200px;
    }
    .sec-4-circle-number{
        font-size: 50px;
    }
    .sec-4-circle-content{
        font-size: 25px;
    }
    /* ------section-6 opacity div and girl pic------ */
    .section-6{
        height: auto;
        width: 100%;
        background-size: cover;
        padding:50px 100px;
    }
    .sec-6-opacity-div{
        height:auto;
        width: 100%;
    }
    .sec-6-img{
        height: 100px;
        width: 100px;
    }
    .sec-6-para{
        font-size: 16px;
    }
    .sec-6-foot-head{
        font-size: 20px;
    }
    .sec-6-content{
        gap: 25px;
        width: auto;
    }
    /* ---------section-7  title here and search bar -------*/
    .section-7{
        height: auto;
        width: auto;
        padding: 50px 0;
    }
    .sec-7-title{
        font-size: 50px;
    }
    .sec-7-para{
        width: auto;
        font-size: 16px;
    }
    .sec-7-seaarch-area input{
        width: 400px;
        height:50px;
    }
    .subscribe-btn{
        width: 150px;
        height: 50px;
        font-size: 16px;
        left: 300px;
    }
    .sec-7-seaarch-area input::placeholder{
        font-size: 16px;
    }
    /* ------section-8 about services others icons----- */
    .section-8{
        height: auto;
        width: auto;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        padding: 50px 0;
    }
    .sec-8-list-sec{
        flex-direction: column;
    }
    .sec-8-first-sec{
        align-items: center;
        width: 80vh;
    }
    .sec-8-para{
        font-size: 16px;
        width: 400px;
    }
    .sec-8-abt-serv-list ul li a{
        font-size: 16px;
    }
}
/* This media qery for the Tablet */
@media only screen and (min-width:600px){
    .nav-list ul{
        display: flex;
        gap: 15px;
    }
    .navbar{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        background-color: #21243d;
    }
    .navbar .logo{
        height: 25px;
        width: 100px;
    }
    a{
        font-size: 13px;
    }
    .sec-1-para{
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        width: 300px;
    }
    .search-icon{
        width: 15px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sec-1-head{
        font-size: 50px;
        text-align: left;
    }
    .section-1-content{
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 45px 0;
        padding-left: 40px;
        width: auto;
    }
    .sec-1-btn{
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    .section-1-img{
        height: auto;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .section-1-op-div{ 
        width:100%;
        height: auto;
        background-color: rgba(255, 68, 0, 0.114);
    }
    /* ------------------popular menu section---------- */
    .sec-2-head-para{
        height: auto;
        width: auto;
        padding: 50px 0;
    }
    .sec-2-head{
        font-size: 50px;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
    }
    .sec-2-para{
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        width: 500px;
    }
    .sec-2-menu-img{
        height: 100px;
        width: 100px;
    }
    .sec-2-menu-title{
        font-size: 16px;
    }
    .sec-2-menu-para{
        font-size: 13px;
    }
    /* section-3 image and title here content */
    .section-3{
        height: auto;
        width: auto;
        padding: 50px 0;
    }
    .sec-3-img{
        width: 200px;
        height: 200px;
    }
    .sec-3-title{
        font-size: 50px;
    }
    .sec-3-para{
        font-size: 13px;
        width: 250px;
    }
    .sec-3-content{
        gap: 15px;
    }
    /* ------secction-4 statistics and three image section------ */
    .section-4-circle{
        width: 125px;
        height: 125px;
    }
    .sec-4-circle-number{
        font-size: 35px;
    }
    .sec-4-circle-content{
        font-size: 20px;
    }
    /* ------section-6 opacity div and girl pic------ */
    .section-6{
        height: auto;
        width: 100%;
        background-size: cover;
        padding: 100px;
    }
    .sec-6-opacity-div{
        width: 100%;
        height: 430px;
    }
    .sec-6-img{
        height: 100px;
        width: 100px;
    }
    .sec-6-para{
        font-size: 16px;
        width: 500px;
    }
    .sec-6-foot-head{
        font-size: 25px;
    }
    .sec-6-content{
        gap: 20px;
    }
    /* ---------section-7  title here and search bar -------*/
    .section-7{
        height: auto;
        width: auto;
        padding: 50px;
    }
    .sec-7-title{
        font-size: 50px;
    }
    .sec-7-para{
        width: auto;
        font-size: 16px;
    }
    .sec-7-seaarch-area input{
        width: 500px;
        height: 50px;
    }
    .sec-7-seaarch-area input::placeholder{
        font-size:16px;
    }
    .subscribe-btn{
        left: 350px;
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    .sec-7-content{
        gap: 25px;
    }
    /* ------section-8 about services others icons----- */
    .section-8{
        height: auto;
        width: auto;
        padding: 50px;
    }
    .sec-8-head{
        font-size: 16px;
    }
    .sec-8-para{
        font-size: 12px;
    }
    .sec-8-abt-serv-list ul li a{
        font-size: 12px;
        line-height: 16px;
    }
    .sec-8-first-sec, .sec-8-about-serv{
        gap: 10px;
    }
    .sec-8-list-sec{
        gap: 20px;
    }
    .sec-8-icons{
        height: 20px;
        width: 20px;
        font-size: 20px;
    }
    .first-sec-icon{
        gap: 7px;
    }
}
/* This media qery for the Desktop */
@media only screen and (min-width:768px){
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #21243d;
        padding: 10px 50px;
    }
    .section-1-img{
        width: 100%;
        height: 796px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    a{
        font-size: 25px;
    }
    .nav-list ul{
        gap: 50px;
    }
    .navbar .logo{
        height: 50px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .search-icon{
        width: 30px;
        height: 30px;
        border: none;
        background-color: #21243d;
        cursor: pointer;
    }
    .section-1-op-div{ 
        width:100%;
        height: 100%;
        background: rgba(255, 68, 0, 0.114);
    }
    .sec-1-head{
        font-size: 125px;
    }
    .sec-1-para{
        font-size: 30px;
        color: #ffffff;
        font-weight: 400;
        width: 700px;
    }
    .sec-1-btn{
        width: 322px;
        height: 65px;
        font-size: 25px;
    }
    .section-1-content{
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
        padding: 175px 0;
        padding-left: 100px; 
    }
    /* ------------------popular menu section---------- */
    .sec-2-head-para{
        height: auto;
        width: auto;
        padding: 100px 0;
    }
    .sec-2-head{
        font-size: 64px;
    }
    .sec-2-para{
        font-size: 25px;
        width: 700px;
    }
    .sec-2-menu-img{
        height: 250px;
        width: 250px;
    }
    .sec-2-menu-title{
        font-size: 28px;
    }
    .sec-2-menu-para{
        font-size: 17px;
    }
    /* -------section-3 image and title here content------ */
    .section-3{
        height: auto;
        width: auto;
    }
    .sec-3-img{
        width: 464px;
        height: 463px;
    }
    .sec-3-title{
        font-size: 75px;
    }
    .sec-3-para{
        font-size: 30px;
        width: 500px;
    }
    .sec-3-content{
        gap: 50px;
    }
    /* ------secction-4 statistics and three image section------ */
    .section-4-circle{
        width: 274px;
        height: 275px;
    }
    .sec-4-circle-number{
        font-size: 75px;
    }
    .sec-4-circle-content{
        font-size: 42px;
    }
    /* ------section-6 opacity div and girl pic------ */
    .section-6{
        height: auto;
        width: auto;
        background-size: cover;
    }
    .sec-6-opacity-div{
        height: 100%;
        width: 100%;
    }
    .sec-6-img{
        height: 250px;
        width: 250px;
    }
    .sec-6-para{
        font-size: 42px;
        width: auto;
    }
    .sec-6-foot-head{
        font-size: 45px;
    }
    .sec-6-content{
        gap: 50px;
        width: auto;
    }
    /* ---------section-7  title here and search bar -------*/
    .section-7{
        height: 100vh;
        width: auto;
        padding: 100px;
    }
    .sec-7-title{
        font-size: 75px;
    }
    .sec-7-para{
        width: 900px;
        font-size: 30px;
    }
    .sec-7-seaarch-area input{
        width: 659px;
        height: 63px;
    }
    .sec-7-seaarch-area input::placeholder{
        font-size: 25px;
    }
    .subscribe-btn{
        width: 222px;
        height: 65px;
        left: 545px;
    }
    .sec-7-content{
        gap: 50px;
    }
    /* ------section-8 about services others icons----- */
    .section-8{
        height: auto;
        width: auto;
        padding: 200px 0;
    }
    .sec-8-head{
        font-size: 32px;
    }
    .sec-8-para{
        font-size: 24px;
        width: auto;
    }
    .sec-8-abt-serv-list ul li a{
        font-size: 24px;
        line-height: 42px;
    }
    .sec-8-first-sec{
        gap: 25px;
    }
    .sec-8-icons{
        height: 30px;
        width: 30px;
        font-size: 30px;
    }
    .first-sec-icon{
        gap: 15px;
    }
    .sec-8-about-serv{
        gap: 25px;
    }
    .sec-8-list-sec{
        gap: 50px;
    }
}